/***** GLOBAL *****/
ul, li {
	margin: 0; padding: 0; border: 0;
}

.proj_grid {
	width: auto;
	height: auto;
	float: left;
	margin: 2px;
	padding: 2px;
	position: relative;
	white-space: pre-line;
}

.proj_grid:hover {
	background-color: #1F1F1F;
	/*border:2px solid #1F1F1F;
	overflow: auto;*/

	/*border one color*/
	/*border hover another color*/
}

#proj_title {
	font-size: 12px;
	font-weight: bold;
	text-align: center;

}


body	{
	color: #999999;
	background: #ffffff;
	font-family: Arial, sans-serif;
	padding: 1.5%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

p {
	font-size: 10px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: #000;
	text-align: justify;
	line-height: 17px;
}

li	{
	background: #ffffff;
	list-style: disc;
	font-size: 12px;
}

a {
	font-family: Arial, sans-serif; 
	font-size: 10px; 
	color: #0033ff;
	text-decoration: none;
}

a:link, a:visited, a:active { 	
font-weight: normal;
font-family: Arial, sans-serif;
color: #999999;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

hr {
	color: #000000;
	height: 1px;
}

h1 {
	text-align: left;
}
#container {
	width: 77%;
	height: 100%;
	float: right;
	position: relative;
	top: 50px;
	text-align: center;
	margin-bottom: 20px;
}

#container h3 {
	text-align: left;
	margin-bottom: 20px;
}

.scroll {
	overflow: scroll;
}

#home {
  width: 20%;
  height: 100%;
  left: 12%;
  float: left;
  position: relative;
  top: 5%;
}

.margin p {
	margin: 5%;
}

.pr	{
	width: 55%;
	font-weight: bold;
	font-size: 10px;
}

#kids	{
    color: #999999;
	font-size:10px;
	font-family: Verdana, Arial, sans-serif; 
	background: #FFFFFF;
}
/***** END GLOBAL *****/

/***** Slideshow *****/
div#slideshow {
	/*width: 700px;*/ /*height: 518px;*/ 
	width: auto;
	height: auto;
	padding: 15px 0 0 12px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; 
	z-index: 5;
	background-color: #FFF;
}

div#slideshow ul#nav {
	display: none;
	list-style: none;
	position: relative; /*top: 210px;*/ /*z-index: 15;*/
	margin-bottom: 50px;
	width: 100px;
	padding-left: 10%;

}
	div#slideshow ul#nav li#prev {
		float: left; 
		margin: 0 0 0 20px;
		text-align: center;
	}
	div#slideshow ul#nav li#next {
		float: right; 
		margin: 0 20px 0 0;
		text-align: center;
	}
	div#slideshow ul#nav li a {
		display: block; width: 20px; height: 20px; text-indent: -9999px;
	}
		div#slideshow ul#nav li#prev a {
			background: url(prev.jpg);
		}
		div#slideshow ul#nav li#next a {
			background: url(next.jpg);
		}

/*div#slideshow div#slides {
		list-style: none;
	}*/
		div#slideshow div#slides p {
			margin: 0 0 20px 0;
			background-color: #FFF;
		}

/***** End Slideshow ******/
/***** SIDEBAR STYLING *****/
#sidebar	{
	position: absolute;
	float:left;
	width:20%; 
	height:100%; 
	top: 7%;
}


#sidebar p a {
	color: #999999;
	font-size:11px;
	font-family: Arial, sans-serif; 
}

#name {
	top: 10px;
	margin-bottom: 30px;
}
	
#view	{ /* was #menu1 */
    color: #000000;
	font-weight: bold;
	font-size: 11px;
}

#sidebar #list a {
	color: #666666;
	font-size: 12px;
	font-family: Arial, sans-serif; 
}

#list1	{
	font-weight: bold;
	color: #666666;
	font-size: 12px;
}
		
				
#copy	{
    color: #999999;
	font-size:9px;
	font-family: Arial, sans-serif; 
	margin-top: 20%;
}

#exh_titles a {
	color: #999999;
	font-size: 10px;
	font-family: Arial, sans-serif; 
	margin-left: 5%;
	font-weight: normal;
	text-align: justify;
	line-height: 17px;
}

#exh_view {
	font-weight: bold;
	color: #000;
}

/***** END SIDEBAR STYLING *****/

/**** Links ****/
.contact {
	width: 40%;
}
/**** END Links ****/

.pub {
  font-family: Arial, sans-serif;
  padding: 1.5%;
  font-size: 10px;
  line-height: 17px;
  margin: 3%;
  width: 45%;
  overflow: auto;
}

.pub span {
	font-weight: bold;
	color: #666;
}

.pub img {
	display: inline-block;
	float: left;
}
.bio {
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: #000;
	line-height: 17px;
	margin: 0;
}

/*.bioDate {
	margin-right: 30px;
}

.bioText {
	margin-left: 56px;
}*/

.bio_text {
	display: inline-block;
	width: 500px;
	height: auto;
	margin-left: 30px;
}

.bio_date {
	display: inline-block;
	margin-right: 30px;
	float: left;
}

#links	{
	font-size:14px;
	font-family: Arial, sans-serif;
	background: #ffffff;
}


td { /* delete */
	color: #000000;
		 background: #ffffff;
		 font-family: arial, helvetica, sans serif;
		 font-weight: normal;
		 font-size: 10px;
}

td { /* delete */
	font-size: 12px;
	font-weight: normal;
	font-family: arial, helvetica, sans serif;
	color: #000000;
	line-height: 17px;
}



#index	{color: #666666;
		 background: #ffffff;
		 font-family: arial, helvetica, sans serif;
	   	 font-weight: bold;
		 font-size: 12px;
}

		
#title	{font-weight:bold;
 		font-size:18px;
 		font-family: arial, helvetica, sans serif;
 		background: #ffffff;}
 		
#secondary	{font-size:11px;
font-family: arial, helvetica, sans serif;
			background: #ffffff;}
			
#header	{font-size:11px;
font-family: arial, helvetica, sans serif;
		background: #ffffff;}
		
#headfont	{font-size:24px;
		font-weight:bold;
		font-family: arial, helvetica, sans serif;
		background: #ffffff;}
		
.clear	{clear: left;}